<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>Search Engine</display-name>
    
	<welcome-file-list>
	    <welcome-file>search.html</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>	
  

  <!-- Define servlets that are included in the example application -->
	

  <servlet>
    <servlet-name>SearchEngineServlet</servlet-name>
    <servlet-class>SearchEngineServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchEngineServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>


</web-app>